{% extends "stats/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Round Entry Front 9
{% endblock %}

{% block heading %}
    Front 9 Entry
{% endblock %}


{% block content %}
    <div>
        <p>
            Enter round here
        </p>
        <div class="container col-md-3">
            <form method="POST">
                {% csrf_token %}
                {{ round_form|crispy }}
                {{ hole_formset.management_form }}

                {% for form in hole_formset %}
                <br>
                    {{ form.non_field_errors }}
                        <div class="col-md-5>
                            <label for="hole_number">HOLE</label>
                            <input type="text" id="hole_number" value="{{ form.hole_number.value }}" readonly class="form-control">
                            {{ form.hole_number }}
                            {{ form.hole_par|as_crispy_field }}
                            {{ form.score|as_crispy_field }}
                            {{ form.fairway|as_crispy_field }}
                            {{ form.gir|as_crispy_field }}
                            {{ form.putts|as_crispy_field }}
                        </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}